{% extends "tour/base.html" %}

{% block content %}
<div class="container">
    <div id="close">
        <h1 class="text-center my-5">{{ createtitle }}</h1>
        <div id="forms">
            {% include 'tour/partials/operation-form.html' %}
        </div>
        <div class="row my-4">
            <div class="col-12">
                <button class="btn btn-success" id="submit-all">Oluştur (创建)</button>
            </div>
        </div>
        <div class="row my-4" id="opertaion-day" hx-swap="beforeend">
            <h1 class="text-center my-5">Operasyon Detayı (操作细节)</h1>
            {% include 'tour/partials/operation-day.html' %}
        </div>
        <button class="btn btn-success" id="submit-item-all">Kaydet (保存)</button>
    </div>
</div>
{% endblock content %}

