<tr id="activity-{{ activity.id }}" hx-swap="outerHTML swap:.5s">
    <td colspan="11"> <!-- Tüm sütunları kapsayacak şekilde ayarlayın -->
        <form hx-post="{% url 'edit_activity' activity.id %}" hx-target="#activity-{{ activity.id }}">
            <table>
                <tr>
                    <td>
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name }}
                    </td>
                    <td>
                        <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                        {{ form.city }}
                    </td>
                    <td style="vertical-align: bottom;">
                        <button type="submit" class="btn btn-success" style="margin-right: 2px;">Kaydet</button>
                        <button type="button" class="btn btn-danger" hx-get="{% url 'cancel_activity' activity.id %}">İptal</button>
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
