<form hx-post="{% url createUrl %}" hx-target="#activity-list" hx-swap="beforeend" hx-on="htmx:afterRequest: this.remove()" hx-trigger="click from:#submit-all">
    {% csrf_token %}  <!-- CSRF token ekleme -->
    <div class="row">
        <div class="col-md-2 align-self-end">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
        <div class="col-md-2 align-self-end">
            <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
            {{ form.city }}
        </div>
        <div class="col-md-2 align-self-end">
            <button type="button" class="btn btn-danger" hx-on="click: this.closest('form').remove()">İptal</button>
        </div>
    </div>
</form>
    