<tr id="supplier-{{ supplier.id }}" hx-swap="outerHTML swap:.5s">
    <td colspan="11"> <!-- Tüm sütunları kapsayacak şekilde ayarlayın -->
        <form hx-post="{% url 'edit_supplier' supplier.id %}" hx-target="#supplier-{{ supplier.id }}">
            <table>
                <tr>
                    <td class="align-self-end">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name }}
                    </td>
                    <td class="align-self-end">
                        <label for="{{ form.contact.id_for_label }}">{{ form.contact.label }}</label>
                        {{ form.contact }}
                    </td>
                    
                    <td style="vertical-align: bottom;" class="align-self-end">
                        <button type="submit" class="btn btn-success" style="margin-right: 2px;">Kaydet</button>
                        <button type="button" class="btn btn-danger" hx-get="{% url 'cancel_supplier' supplier.id %}">İptal</button>
                    </td>
                </tr>
            </table>
        </form>
    </td>
</tr>
